# Nextcloud configuration
NEXTCLOUD_DOMAIN=<YOUR FQDN>
NEXTCLOUD_VERSION=28

# Uncomment and set to a desired physical route to have physical files there
# STORAGE_FOLDER='./data'

# Passwords
# TODO: Use docker secrets
REDIS_PASSWORD='Ch4ngeMe!'
MYSQL_PASSWORD='Ch4ngeMe!'
NEXTCLOUD_PASSWORD='Ch4ngeMe!'
